.footer {
  position: relative;
  z-index: 1;
  padding-bottom: calc(var(--section-spacing));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sphere {
  position: absolute;
  left: -10vw;
  width: max(30vw, 250px);
  filter: drop-shadow(0 0 40px rgb(0 0 0 / 10%));
  animation: drift 7s ease-in-out infinite;

  @media (width >= 1280px) {
    top: 40px;
  }

  @media (width < 1280px) {
    bottom: -40px;
  }
}

.title {
  color: var(--color-t2);
  font-weight: var(--weight-semibold);
  margin-bottom: 30px;
}

.link {
  display: block;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.linkStrong {
  color: var(--color-accent);
}

@keyframes drift {
  0%,
  100% {
    translate: 0 0;
    scale: 1;
  }

  25% {
    translate: 10px -14px;
    scale: 1.03;
  }

  60% {
    translate: -6px -20px;
    scale: 1;
  }

  80% {
    translate: 5px -10px;
    scale: 1.02;
  }
}
