.container {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 40px;
  position: relative;
  margin-block: var(--section-spacing);
}

.card {
  padding: calc(var(--responsive-spacing) * 40);
  border-radius: 10px;
}

.title {
  font-size: 20px;
}

.titleGreen {
  color: var(--color-accent);
  font-weight: var(--weight-bold);
}

.titlePurple {
  color: var(--color-purple);
  font-weight: var(--weight-bold);
}

.subtitle {
  font-size: 15px;
  margin-block: 10px 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(var(--responsive-spacing) * 40);
}

.itemCard {
  padding: calc(var(--responsive-spacing) * 20);
  border-radius: 10px;
}

.logoShrink {
  scale: 0.85;
  transform-origin: 0 50%;
}

.logoGrow {
  scale: 1.15;
  transform-origin: 0 50%;
}

.text {
  margin-block: 10px 20px;
  font-size: 15px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link {
  padding: 10px 15px;
  display: inline-flex;
  gap: 20px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: var(--weight-semibold);
  transition: 0.25s;

  &:hover {
    translate: 0 -2px;
  }
}

.linkIcon {
  fill: var(--color-t2);
}

.repositoriesWrapper {
  display: grid;
  gap: calc(var(--responsive-spacing) * 40);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--weight-semibold);
}

.headerIcon {
  fill: var(--color-t2);
}

.pattern {
  position: absolute;
  background-image: radial-gradient(
    circle,
    rgb(255 255 255 / 18%) 1px,
    transparent 1px
  );
  background-size: 14px 14px;
  width: 240px;
  height: 240px;
  border-radius: 40px;
  transition: 1s;
}

.patternBottom {
  bottom: 0;
  left: 0;
  scale: 0.7;
}

.patternBottomVisible {
  bottom: -60px;
  left: -60px;
}

.patternTop {
  top: 0;
  right: 0;
  scale: 0.7;
}

.patternTopVisible {
  top: -60px;
  right: -60px;
}
