@keyframes float {
  0%,
  100% {
    translate: 50% 0;
  }

  50% {
    translate: 50% -8px;
  }
}

.indicator {
  position: absolute;
  right: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: transparent;
  border: 0;
  translate: 50%;
  transition: 0.25s;
  animation: float 2s ease-in-out infinite;
}

.scrolled {
  opacity: 0;
  pointer-events: none;
  scale: 0.5 1.6;
  bottom: 100px;
}
