.wrapper {
  position: absolute;
  z-index: 1;
  border-radius: 99px;
  display: flex;

  @media (width >= 1280px) {
    gap: 20px;
    padding-inline: 13px;
    right: calc(var(--responsive-spacing) * 30);
    top: calc(var(--responsive-spacing) * 30);
  }

  @media (width < 1280px) {
    padding-inline: 7px;
    right: 7px;
    top: 7px;
  }
}

.wrapperScrolled {
  position: fixed;
  animation: show-header 1.9s forwards;
}

.blurred {
  position: absolute;
  border-radius: 99px;

  @media (width >= 1280px) {
    top: 7px;
    height: 32px;
  }

  @media (width < 1280px) {
    top: 5px;
    height: 36px;
  }
}

.blurredLeft {
  left: 7px;

  @media (width >= 1280px) {
    width: 100px;
  }

  @media (width < 1280px) {
    width: 41px;
  }
}

.blurredRight {
  right: 7px;

  @media (width >= 1280px) {
    width: 85px;
  }

  @media (width < 1280px) {
    width: 41px;
  }
}

.link {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  z-index: 1;
  align-items: center;

  @media (width >= 1280px) {
    padding: 13px;
  }

  @media (width < 1280px) {
    padding: 18px 13px;
  }
}

.label {
  @media (width < 1280px) {
    display: none;
  }
}

@keyframes show-header {
  from {
    translate: 0 -300px;
  }
}
