.wrapper {
  position: relative;
}

.svg {
  transform: rotate(90deg);
  overflow: visible;
}

.progressRed {
  stroke: var(--color-red);
  transition: stroke-dashoffset 1.4s ease;
}

.progressGreen {
  stroke: var(--color-accent);
  transition: stroke-dashoffset 1.8s ease;
}

.label {
  font-size: 18px;
  font-weight: var(--weight-bold);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
