.wrapper {
  &:hover,
  &:active,
  &:focus-within {
    .icons {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      top: -60px;
    }
  }
}

.icons {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-bottom: 20px;
  transition: 0.25s;
  top: -100px;
}
