:root {
  --color-accent: #36f4a4;
  --color-t1: #e8e8e8;
  --color-t2: #b7b7b7;
  --color-dark: #18191b;
}

html {
  height: 100%;
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-dark);
}

body {
  min-height: 100%;
  font-family: var(--font-proxima-nova), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
