.containerWrapper {
  position: relative;
}

.sphere {
  position: absolute;
  filter: drop-shadow(0 0 40px rgb(0 0 0 / 10%));
  width: 550px;
  animation: drift 7s ease-in-out infinite;

  @media (width >= 1280px) {
    top: 140px;
    right: -100px;
  }

  @media (width < 1280px) {
    top: 100px;
    right: -200px;
  }
}

.container {
  margin-block: var(--section-spacing);
}

.title {
  text-align: center;
  color: var(--color-t2);
  font-size: 24px;
  font-weight: var(--weight-semibold);
  margin-bottom: calc(var(--responsive-spacing) * 100);
}

.wrapper {
  display: grid;
  position: relative;
  align-items: start;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50px;
  }

  // Vertical line
  &::after {
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent,
      color-mix(var(--color-accent) 30%, transparent) 100px
    );
  }

  // Dot in the bottom
  &::before {
    width: 10px;
    height: 10px;
    background: var(--color-accent);
    border-radius: 50%;
  }

  @media (width >= 1280px) {
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--responsive-spacing) * 170)
      calc(var(--responsive-spacing) * 140);

    &::after,
    &::before {
      left: 50%;
      translate: -50%;
    }
  }

  @media (width < 1280px) {
    gap: 40px;
    padding-right: 16px;

    &::after,
    &::before {
      right: 0;
    }

    &::before {
      translate: 50%;
    }
  }
}

.card {
  position: relative;
  border-radius: 10px;
  padding: calc(var(--responsive-spacing) * 30);

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
  }

  // Horizontal line
  &::after {
    height: 2px;
  }

  // Arrowhead at end of horizontal line
  &::before {
    top: 36px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  @media (width >= 1280px) {
    &::after {
      width: calc(var(--responsive-spacing) * 70);
    }
  }

  @media (width < 1280px) {
    &::after {
      width: 15px;
    }
  }
}

.cardLeft {
  &::after {
    right: 0;
    translate: 100%;
    background: linear-gradient(to right, transparent, var(--color-accent));
  }

  &::before {
    border-right: 5px solid var(--color-accent);
  }

  @media (width >= 1280px) {
    &::before {
      right: calc(var(--responsive-spacing) * 70 * -1);
    }
  }

  @media (width < 1280px) {
    &::before {
      right: -16px;
    }
  }
}

.cardRight {
  @media (width >= 1280px) {
    translate: 0 200px;

    &::before {
      left: calc(var(--responsive-spacing) * 70 * -1);
      border-left: 5px solid var(--color-accent);
    }

    &::after {
      left: 0;
      translate: -100%;
      background: linear-gradient(to right, var(--color-accent), transparent);
    }
  }

  @media (width < 1280px) {
    &::before {
      right: -16px;
      border-right: 5px solid var(--color-accent);
    }

    &::after {
      right: 0;
      translate: 100%;
    }

    &::after {
      background: linear-gradient(to right, transparent, var(--color-accent));
    }
  }
}

.header {
  display: flex;
  gap: 10px;

  @media (width >= 1280px) {
    align-items: center;
    justify-content: space-between;
  }

  @media (width < 1280px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.role {
  font-size: 24px;
  font-weight: var(--weight-semibold);
}

.company {
  color: var(--color-accent);
  font-size: 20px;
  text-shadow: 0 0 10px color-mix(var(--color-accent) 50%, transparent);
  font-weight: var(--weight-semibold);
}

.date {
  border-radius: 99px;
  white-space: nowrap;

  @media (width >= 1280px) {
    font-size: 14px;
    padding: 5px calc(var(--responsive-spacing) * 15);
  }

  @media (width < 1280px) {
    font-size: 13px;
    padding: 2px 15px;
  }
}

.achievement {
  line-height: 1.6;
  margin-top: 30px;
}

.stackWrapper {
  margin-top: 60px;
}

.stack {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;

  @media (width >= 1280px) {
    font-size: 15px;
  }

  @media (width < 1280px) {
    font-size: 13px;
  }
}

.stackTitle {
  font-weight: var(--weight-bold);
}

.stackItem {
  opacity: 0.7;
}

@keyframes drift {
  0%,
  100% {
    translate: 0 0;
    scale: 1;
  }

  25% {
    translate: 10px -14px;
    scale: 1.03;
  }

  60% {
    translate: -6px -20px;
    scale: 1;
  }

  80% {
    translate: 5px -10px;
    scale: 1.02;
  }
}
