.container {
  display: grid;
  grid-template-columns: auto minmax(280px, 820px);
  gap: calc(var(--responsive-spacing) * 140);
  height: max(100vh, 650px);
  align-items: center;
  position: relative;
}

.left {
  padding: calc(var(--responsive-spacing) * 40);
  border-radius: 10px;
}

.heading {
  display: inline-flex;
  gap: 10px;
  border-radius: 99px;
  padding: 5px 11px;
  align-items: center;
  font-size: 14px;
}

.title {
  font-size: max(calc(var(--responsive-spacing) * 64), 48px);
  font-weight: var(--weight-extrabold);
  margin-block: 30px 15px;
}

.myName {
  color: var(--color-accent);
  text-shadow: 0 0 10px color-mix(var(--color-accent) 30%, transparent);
}

.text {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: calc(var(--responsive-spacing) * 50);
}

.button {
  padding: 16px 22px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-weight: var(--weight-semibold);
  border-radius: 10px;
}

.buttonAccentIcon {
  fill: var(--color-dark);
}

.buttonAccent {
  background: var(--color-accent);
  color: var(--color-dark);
  margin-right: 20px;
  box-shadow: 0 0 20px color-mix(var(--color-accent) 20%, transparent);
  border: 0;
}

.right {
  position: relative;
  text-align: center;
}

.pill {
  position: absolute;
  width: clamp(250px, 17.7vw, 340px);
  display: flex;
  align-items: center;
  z-index: 1;
}

.leftPill {
  bottom: calc(var(--responsive-spacing) * 30);
  right: calc(50% + calc(var(--responsive-spacing) * 70));
}

.centerPill {
  bottom: calc(var(--responsive-spacing) * 170);
  right: 50%;
}

.rightPill {
  bottom: calc(var(--responsive-spacing) * 80);
  left: calc(50% + calc(var(--responsive-spacing) * 60));
}

.pillContent {
  padding: 15px 0;
  display: flex;
  gap: calc(var(--responsive-spacing) * 20);
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  flex-grow: 1;
}

.pillIcon {
  fill: var(--color-t2);
}

.center {
  position: relative;
}

.imageCommon {
  width: calc(var(--responsive-spacing) * 210);
  height: calc(var(--responsive-spacing) * 210);
  border-radius: 50%;
}

.image {
  object-fit: cover;
  box-shadow: 0 0 100px color-mix(var(--color-accent) 10%, transparent);
  position: relative;
  z-index: 1;
}

.pattern {
  position: absolute;
  background-image: radial-gradient(
    circle,
    rgb(255 255 255 / 18%) 1px,
    transparent 1px
  );
  background-size: 14px 14px;
}

.patternBottom {
  top: 50%;
  right: 50%;
}

.patternTop {
  bottom: 50%;
  left: 50%;
}
